package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};
import com.baomidou.mybatisplus.core.metadata.IPage;
#if(${mapperAnnotation})
import org.apache.ibatis.annotations.Mapper;
#end
import org.apache.ibatis.annotations.Param;
import java.util.List;
import ${model.namespace}.*;

/**
 * $!{table.comment}
 *
 * @author ${author}
 * @since ${date}
 */
#if(${mapperAnnotation})
@Mapper
#end
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

    List<${model.grid.type}> tryQuery(@Param("form") ${model.query.type} form, IPage<${model.grid.type}> page);
}
