package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import ${model.namespace}.*;
import com.baomidou.mybatisplus.core.metadata.IPage;

/**
 * $!{table.comment}
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    IPage<${model.grid.type}> tryQuery(${model.query.type} form);
#if(${model.key})

    ${model.info.type} tryGet(${model.key.propertyType} ${model.key.propertyName});

    ${model.key.propertyType} tryAdd(${model.add.type} form);
#else

    boolean tryAdd(${model.add.type} form);
#end

    boolean tryUpdate(${model.update.type} form);

    boolean tryRemove(${model.remove.type} form);
}
